body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .search{
  position: absolute;
  z-index: 999;
}

.App{
  width: 200vh;
  min-height: 100vh;
  padding: 1rem;
  background-color: rgb(222, 239, 224);
}

.App .weather-main, .App .soil, .App .map, .App .hour, .App .forcast{
  text-align: left;
  border-radius: 10px;
  background-color: rgb(255, 253, 246);
}

.App .weather-main{
  position: absolute;
  width: 21rem;
  height: 20rem;
  top: 7.5%;
  margin-left: 3rem;
}

.App .weather-main .main-title, .App .forcast .forcast-title, .App .soil .soil-title, .App .hour .hourlyforcast-title {
  color: rgb(50, 115, 56);
  font-weight: bold;
  margin-left: 1rem;
}

.main-temp{
  position: absolute;
  color: rgb(50, 115, 56);
  font-weight:450;
  font-size: 4rem;
  margin-left: 14rem;
  margin-top: 25px;
}

.main-description{
  color: rgb(50, 115, 56);
  margin-left: 14.5rem;
  margin-top: 115px;
}

.current-weather-icon {
  position: absolute;
  width: 10rem;
  height: 10rem;
  margin-left: 4rem;
  top: 12%;
}

.App .weather-info {
  margin-top: 10.3rem;
  margin-left: 3rem;
  display: flex;
  font-size: 0.5rem;
}

.style {
  padding-top: 79px;
  color: #327338;
  padding-left: 95px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.wind{
  padding-right: 21%;
}

.humidity{
  padding-left: 18px;
}

.rain{
  padding-right: 4%;
}

.style div {
  width: 80px;
}

.info-item >*{
  margin-right: 1.5rem;
}

.weather-info {
  color: #327338;
}

.App .forcast{
  position: absolute;
  width: 21rem;
  height: 24rem;
  padding: 0.rem;
  margin-top: 1rem;
  margin-left: 3rem;
  top: 47%
}

.App .forcast .forcast-title{
  color: rgb(50, 115, 56);
  font-weight: bold;
  margin-left: 1rem;
}

.forecast-container {
  margin-top: 10.25rem;
  color: #327338;
}

.forecast-content{
  display: flex;
  justify-content:space-between;
  margin-left: 5rem;
  margin-right: 6.75rem;
  font-size: 0.8rem;
}

.days-weather-icon{
  margin-top: -6px; 
}

.App .crop1{
  background-color: rgb(126, 185, 131);
  border-radius: 10px;
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 25.5rem;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .crop2{
  background-color: rgb(255, 253, 246);
  border-radius: 10px;
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 34rem;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .crop3{
  background-color: rgb(126, 185, 131);
  border-radius: 10px;
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 42.5rem;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .crop4{
  background-color: rgb(255, 253, 246);
  border-radius: 10px;
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 51rem;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .crop5{
  background-color: rgb(126, 185, 131);
  border-radius: 10px;
  position: absolute;
  width: 8rem;
  height: 8rem;
  margin-left: 59.5rem;
  top: 9%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map{
  width: 42rem;
  height: 10.5rem;
  margin-left: 25.5rem;
  position: absolute;
  top: 69%;
}

.App .soil{
  position: absolute;
  width: 17rem;
  height: 20rem;
  margin-left: 68.5rem;
  top: 7.5%
} 

.App .hour{
  width: 60rem;
  height: 24rem;
  margin-top: 1rem;
  margin-left: 25.5rem;
  position: absolute;
  top: 47%
}