body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(222, 239, 224);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App .search {
  position: absolute;
  z-index: 999;
}

.App {
  width:100%;
  min-height: 100vh;
  padding: 1rem;
  
}

.App .weather-main,
.App .soil,
.App .hour,
.App .forecast {
  text-align: left;
  border-radius: 10px;
  background-color: rgb(255, 253, 246);
}

.city{
  position: absolute;
  color: rgb(50, 115, 56);
  margin-left: 4rem;
  margin-top: -0.5rem;
  font-size: small;

}

.App .weather-main {
  position: absolute;
  width: 21rem;
  height: 20rem;
  top: 7.5%;
  margin-left: 3rem;
}

.App .weather-main .main-title,
.App .forecast .forecast-title,
.App .soil .soil-title,
.App .hour .hourlyforecast-title {
  color: rgb(50, 115, 56);
  font-weight: bold;
  margin-left: 1rem;
}

.main-temp {
  position: absolute;
  color: rgb(50, 115, 56);
  font-weight: 450;
  font-size: 4rem;
  margin-left: 14rem;
  margin-top: 25px;
}

.main-description {
  color: rgb(50, 115, 56);
  margin-left: 14.5rem;
  margin-top: 115px;
}

.current-weather-icon {
  position: absolute;
  width: 10rem;
  height: 10rem;
  margin-left: 4rem;
  top: 12%;
}

.App .weather-info {
  margin-top: 10.3rem;
  margin-left: 3rem;
  display: flex;
  font-size: 0.5rem;
}

.city-time{
  position: absolute;
  color: rgb(50, 115, 56);
}

.style {
  padding-top: 79px;
  color: #327338;
  padding-left: 95px;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.wind {
  padding-right: 21%;
}

.humidity {
  padding-left: 18px;
}

.rain {
  padding-right: 4%;
}

.style div {
  width: 80px;
}

.info-item>* {
  margin-right: 1.5rem;
}

.weather-info {
  color: #327338;
}

.App .forecast {
  position: absolute;
  width: 21rem;
  height: 24rem;
  padding: 0.rem;
  margin-top: 24rem;
  margin-left: 3rem;
}

.App .forecast .forecast-title {
  color: rgb(50, 115, 56);
  font-weight: bold;
  margin-left: 1rem;
}

.forecast-container {
  margin-top: 9.5rem;
  color: #327338;
}

.forecast-content {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 6.75rem;
  font-size: 0.8rem;
}

.days-weather-icon {
  margin-top: -6px;
}

.App{
  display: flex;
}
.App .mid-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 9%;
  margin-left: 24.6rem;
  
}

.App .crop-container {
  display: flex;
}

.App .map-container {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  overflow-y: auto;
  max-height: 10.5rem; 
  border-radius: 10px;
}

.App .map-container.enlarged {
  max-height: max-content;
  z-index: 999;
}

.map-controls {
  z-index: 1000;
  display: flex;
  justify-content: left;
  margin-left: 1rem;
  margin-top: -2rem; 
}
.extend, .close{
  background-color: white;
}
.App .crop, .App .crop1 {
  background-color: rgb(126, 185, 131);
  border-radius: 10px;
  display: flex;
  width: 8rem;
  height: 8rem;
  margin-left: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App .crop1{
  background-color: rgb(255, 253, 246);
}

.App .crop-popout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  /* Adjust the background color and opacity */
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* Ensure it appears on top of other content */
}

.App .crop-popout-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* Adjust the background color */
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.recommendation{
  position: absolute;
  margin-left: 77rem;
  top: 17%;
  width: 8rem;
  color: #327338;
  font-style: italic;
}

.App .soil {
  position: absolute;
  width: 17rem;
  height: 20rem;
  margin-left: 68.5rem;
  top: 7.5%
} 

.herb-image{
  position: absolute;
  width: 13rem;
  height: 20rem;
  margin-left: 66.5rem;
  top: 7.5%
}

.App .hour {
  width: 60rem;
  height: 24rem;
  margin-left: 25.5rem;
  position: absolute;
  margin-top: 24rem;
}

.hourlyforecast-container{
  width: 59rem;
  height: 22rem;
  margin-top: 3.5rem;
  margin-left: 26rem;
  position: absolute;
  top: 47%
}

.form-container {
  margin-left: 3.1rem;
}

